@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #2d2d2d;
  font-family: 'Crimson Text', serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  color: #2d2d2d;
  text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;
}

.sitetitle {
    width: 110px;
    line-height: 1px;
    margin-right: 50px;
}

.sitetitle a {
    display: block;
}

.sectiontitle {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 4px;
}

.sectiontitleen {
    display: inline-block;
    margin-bottom: 25px;
}

.topphoto {
    width: 90vw;
    margin: 4% auto 0 auto;
}

.topmenu {
    width: 90vw;
    display: flex;
    align-items: center;
    padding: 32px 0;
    margin: 0 auto 30px auto;
}

.topmenu ul {
    display: flex;
}

.topmenu ul li {
    font-size: 0.875rem;
    margin-right: 30px;
}

.topmenu ul li:last-child {
    margin-right: 0;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

.contentphoto {
    width: 50%;
}

.contenttext {
    width: 50%;
    padding: 0 7%;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 20px 0;
}

.footerlog {
    width: 110px;
}
